<configuration scan="true">

  <!-- Dev console: readable pattern -->
  <springProfile name="dev">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}
          [corr:%X{correlationId} trace:%X{traceId} span:%X{spanId}]
          - %msg%n
        </pattern>
      </encoder>
    </appender>
    <root level="INFO"><appender-ref ref="CONSOLE"/></root>
  </springProfile>

  <!-- Prod: structured JSON (12-factor: logs go to STDOUT) -->
  <springProfile name="prod">
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
        <providers>
          <timestamp/>
          <version/>
          <logLevel/>
          <loggerName/>
          <threadName/>
          <mdc/> <!-- correlationId, traceId, spanId end up here -->
          <message/>
          <stackTrace/>
          <context/>
        </providers>
      </encoder>
    </appender>
    <root level="INFO"><appender-ref ref="JSON"/></root>
  </springProfile>

</configuration>

