@import "tailwindcss";

@theme {
  --color-bg: hsl(224 71% 4%);
  --color-fg: hsl(210 20% 98%);
  --color-muted: hsl(215 27% 12%);
  --color-muted-fg: hsl(217 15% 65%);

  --color-primary: hsl(217 92% 76%);
  --color-primary-fg: hsl(224 71% 4%);

  --color-accent: hsl(266 89% 78%);
  --color-accent-fg: hsl(224 71% 4%);

  --color-border: hsl(215 27% 12%);
  --color-ring: hsl(217 92% 76%);

  --radius: 14px;
}

